* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --md: 768px;
  --lg: 1012px;
  --XL: 1280px;
}

.running-line {
  width: 100%;
  height: 51px;

  background-color: #ff5c1a;
}

.bottom-placeholder{
  width: 100vw;
  height: 1000px;
}