
.shop-now {
    background-image: url(images/shop-now.webp);
    height: 740px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    object-fit:contain;
    object-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shop-now__header{
    height: 66.01px;
    width: 100%;
    padding: 30px 92.7222px 0px;
    display: flex;
    justify-content: space-between;
}

.shop-now__conteiner {
    background-color: black;
    border-radius: 30px;
    height: 46.91px;
    display: flex;
    padding: 10px 15px;
}

.shop-now__conteiner-logo {
    height: 24.24px;
    width: 175px;
    align-self: center;
}

.shop-now__menu {
    background-color: black;
    border-radius: 30px;
    height: 46.91px;
    display: flex;
    padding: 10px 15px 10px 85px;
    display: flex;
    justify-content: space-between;
}

.shop-now__menu-text {
    color: #ffffff;
    font-family: "Bubble Rainbow";
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    padding-right: 55px;
}

.shop-now__container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 19px;
}

.shop-now__conteiner-image {
    height: 17.05px;
    padding-right: 10px;
    
}

.shop-now__conteiner-cart {
    position: relative;
    cursor: pointer;
}

.shop-now__conteiner-cartimage{
    height: 20px;
    
}

.shop-now__conteiner-figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    justify-content: center;
    color: black;
    font-family: "Open Sans";
    font-size: 14px;
}

@media screen and (max-width: 1300px) { 
    .shop-now__header {
        padding: 10px 20px 10px 10px;
    }
}

@media screen and (max-width: 768px) { 
    .shop-now__header {
        display: none;
    }

    .shop-now {
        height: 490px;
    }
}

