.catalog {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1440px;
  padding: 33px 30px 40px;
}

.catalog__title {
  font-family: 'Bubble Rainbow';
  font-size: 72px;
  font-weight: 400;
  font-style: normal;

  margin-bottom: 18px;

  border-bottom: 3px solid black ;
}

.catalog__wave {
  position: absolute;
  z-index: 2;
  top: 141px;
  left: -181px;

  width: 55%;
  max-width: 544px;

  cursor: pointer;
}

.catalog__content {
  position: relative;

  display: flex;

  padding-top: 30px;

  justify-content: center;
  gap: 17px;
  align-items: flex-start;
}

.catalog__bean {
  position: absolute;
  z-index: 2;
  top: 170px;
  left: -35px;

  width: 70px;
  height: 70px;
}

.catalog__button {
  position: relative;

  display: flex;

  width: 480px;
  height: 63px;
  margin: 70px 450px 0;

  border-radius: 50px;
  background-color: #45de8f;

  justify-content: center;
  align-self: center;
}

.catalog__button:hover .catalog__button-orange,
.catalog__button:hover .catalog__button-streak,
.catalog__button:hover .catalog__button-yellow {
  display: flex;
}

.catalog__button-text {
  font-family: 'Degular';
  font-size: 42px;
  font-weight: 500;
  font-style: normal;

  text-align: center;
}

.catalog__button-image {
  position: absolute;
  top: -10px;


  /* height: 75px; */
}

.catalog__button-orange {
  position: absolute;
  right: 445px;
  bottom: 28px;

  display: none;

  height: 49px;

  transition: 5s;
}

.catalog__button-streak {
  position: absolute;
  top: 43px;
  left: 120px;

  display: none;

  width: 220px;

  transition: 5s;
}

.catalog__button-yellow {
  position: absolute;
  top: 27px;
  left: 445px;

  display: none;

  height: 49px;

  transition: 5s;
}

@media screen and (max-width: 767px) {
  .catalog {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1440px;
    padding: 33px 20px 40px;
  }

  .catalog__title {
    font-family: 'Bubble Rainbow';
    font-size: 36px;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 18px;

    border-bottom: 3px solid black ;
  }

  .catalog__wave {
    display: none;
  }

  .catalog__bean {
    display: none;
  }

  .catalog__content {
    padding-top: 8px;
  }
  .catalog__button {
    position: relative;

    display: flex;

    width: 90%;
    max-width: 480px;
    height: 50px;
    margin: 40px 0 0;

    border-radius: 50px;
    background-color: #45de8f;

    justify-content: center;
    align-self: center;
  }

  .catalog__button-text {
    font-family: 'Degular';
    font-size: 18px;
    font-weight: 600;
    font-style: normal;

    display: flex;

    text-align: center;

    justify-content: center;
    align-items: center;
  }

  .catalog__button-image {
    position: absolute;
    top: -10px;

    width: 90%;
    max-width: 480px;
  }

  .catalog__button-orange {
    position: absolute;
    right: 94.3%;
    bottom: 23px;

    display: flex;

    height: 38px;

    transition: 5s;
  }

  .catalog__button-streak {
    position: absolute;
    top: 33px;
    left: 39%;

    display: flex;

    width: 105px;

    transition: 5s;
  }

  .catalog__button-yellow {
    position: absolute;
    top: 22px;
    left: 94.3%;

    display: flex;

    height: 43px;

    transition: 5s;
  }
}
