/* .magazines {
  display: flex;

  width: 1440px;
  margin-top: 30px;
  padding: 42px 47px 47px 47px;

  border-radius: 50px;
  background-color: #45de8f;

  justify-self: center;
  align-items: center;
  justify-content: space-between;
}

.magazines__item {
  cursor: pointer;
}

@media screen and (max-width: 1440px) and (min-width: 997px) {
  .magazines {
    width: 100%;
    padding: 42px 0 47px 0;
  }
}

@media screen and (max-width: 997px) {
  .magazines {
    width: 99%;
    height: 221px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;

    gap: 10px;
    flex-wrap: wrap;
  }

  .magazines__item {
    width: 130px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .magazines {
    height: 221px;

    gap: 1%;
  }
  .magazines__item {
    width: 28%;
    height: 50px;
  }
} */
