.magazines {
  display: flex;

  width: 1440px;
  margin-top: 30px;
  padding: 42px 87px 47px 47px;

  border-radius: 50px;
  background-color: #45de8f;

  gap: 60px;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.magazines__item {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .magazines {
    display: flex;

    width: 1440px;
    height: 221px;
    margin-top: 30px;
    padding: 10px 87px 10px 47px;

    border-radius: 50px;
    background-color: #45de8f;

    flex-wrap: wrap;
    gap: 35px 135px;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) and (min-width: 997px) {
  .magazines {
    width: 100%;
    padding: 42px 0 47px 0;
  }
}

@media screen and (max-width: 997px) {
  .magazines {
    width: 99%;
    height: 221px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 40px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;

    gap: 10px;
    flex-wrap: wrap;
  }

  .magazines__item {
    width: 130px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .magazines {
    /* height: 221px; */
    padding: 50px 75px 45px 75px;

    gap: 45px 40px;
  }
  .magazines__item {
    width: 170px;
    height: 52px;
  }
}

@media screen and (max-width: 425px) {
  .magazines {
    display: flex;

    width: 100%;
    height: 120px;
    margin-top: 30px;
    padding: 10px 15px;

    border-radius: 50px;
    background-color: #45de8f;

    gap: 10px 20px;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .magazines__item {
    width: 86px;
    height: 22px;
  }
}

@media screen and (max-width: 375px) {
  .magazines {
    display: flex;

    width: 100%;
    height: 120px;
    margin-top: 30px;
    padding: 10px 35px;

    border-radius: 50px;
    background-color: #45de8f;

    gap: 0 20px;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .magazines__item {
    width: 86px;
    height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .magazines {
    display: flex;

    width: 100%;
    height: 120px;
    margin-top: 30px;
    padding: 13px 15px 6px 15px;

    border-radius: 50px;
    background-color: #45de8f;

    gap: 8px 0;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .magazines__item {
    width: 73px;
    height: 22px;
  }
}
