.mobile-header {
  position: sticky;
  top: 0;

  display: none;

  width: 100%;
  height: 75.99px;
  padding: 0 35px 2px 35px;

  background-color: black;

  justify-content: space-between;
  align-items: center;
}

.mobile-header__menu-image {
  width: 17px;
  height: 10.9px;
}

.mobile-header__logo {
  width: 35.99px;
  height: 37.99px;

  cursor: pointer;
}

.mobile-header__cart {
  position: relative;

  cursor: pointer;
}

.mobile-header__cart-image {
  width: 20px;
  height: 22px;
}

.mobile-header__cart-figure {
  font-family: 'Open Sans';
  font-size: 14px;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);

  color: black;
}

@media (max-width: 768px) {
  .mobile-header {
    z-index: 3;

    display: flex;
  }
}

