
.shop-now {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 740px;

  background-image: url(../images/shop-now.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  object-position: center;
}

.shop-now__header {
  display: flex;

  width: 100vw;
  height: 60px;
  padding: 30px 5.9vw 0 5vw;

  justify-content: space-between;
  align-items: center;
}

.shop-now__container {
  display: flex;

  padding: 8.29px 25px;

  border-radius: 30px;
  background-color: black;
}

.shop-now__containerleft {
  display: flex;

  padding: 10px 15px 12.69px 15px;

  border-radius: 30px;
  background-color: black;
}

.shop-now__containerleft-logo {
  width: 175px;

  align-self: center;
}


.shop-now__menu {
  display: flex;

  width: 914px;
  height: 51px;
  padding: 10px 15px 10px 85px;

  border-radius: 30px;
  background-color: black;

  justify-content: space-between;
  align-items: center;
}

.shop-now__menu-text {
  font-family: 'Bubble Rainbow';
  font-size: 23px;
  font-weight: 400;
  font-style: normal;

  padding-right: 55px;

  color: #fff;
}

.shop-now__menu-text1 {
  font-family: 'Bubble Rainbow';
  font-size: 23px;
  font-weight: 400;
  font-style: normal;

  position: relative;

  padding-right: 55px;

  color: #fff;
}

.shop-now__menu-text2 {
  font-family: 'Bubble Rainbow';
  font-size: 23px;
  font-weight: 400;
  font-style: normal;

  padding-right: 55px;

  color: #fff;
}

.shop-now__menu-text2:hover {
  color: #47a3ff;
}

.shop-now__menu-text3 {
  font-family: 'Bubble Rainbow';
  font-size: 23px;
  font-weight: 400;
  font-style: normal;

  padding-right: 55px;

  color: #fff;
}

.shop-now__menu-text3:hover {
  color: #e19be9;
}

.shop-now__menu-window {
  font-family: 'Bubble Rainbow';
  font-size: 23px;
  font-weight: 400;
  font-style: normal;

  position: absolute;
  top: 60px;
  right: 0;

  display: none;
  flex-direction: column;

  width: 185px;
  height: 195px;
  padding: 10px;

  color: #fff;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 30px;
  background-color: black;

  align-items: center;
  justify-content: space-between;
}

.shop-now__menu-window:before {
  position: absolute;
  right: 40px;
  bottom: 100vw;

  content: '';

  border: 0 solid transparent ;
  border-bottom-color: white;
}

.shop-now__menu-window:after {
  position: absolute;
  right: 70px;
  bottom: 100vw;

  content: '';

  border: 15px solid transparent;
  border-bottom-color: black;
}

.shop-now__shop-product:hover {
  color: #ffcb1f;
}

.shop-now__menu-text1:hover .shop-now__menu-window {
  display: flex;
}

.shop-now__menu-image {
  padding-right: 45px;
}

.shop-now__container-content {
  display: flex;

  justify-content: center;
  align-items: center;
}

.shop-now__container-image {
  height: 17.5px;
  padding-right: 13px;
  padding-left: 3px;
}

.shop-now__container-cart {
  position: relative;
  top: 2px;

  cursor: pointer;
}

.shop-now__container-cartimage {
  width: 19px;
  height: 21px;
}

.shop-now__container-figure {
  font-family: 'Open Sans';
  font-size: 14px;

  position: absolute;
  z-index: 1;
  top: 50vw;
  left: 50vw;

  transform: translate(-50vw,-50vw);

  color: black;

  justify-content: center;
}

.shop-now__button {
  position: relative;

  display: flex;

  width: 480px;
  height: 64px;
  margin-bottom: 58px;
  padding: 10px 25px 10px 25px;

  border-radius: 30px;
  background-color: black;

  justify-content: center;
  align-items: flex-end;
}

.shop-now__button-text {
  font-family: 'Degular';
  font-size: 42px;
  font-weight: 500;
  font-style: normal;

  text-align: center;

  color: #fff;
}

.shop-now__button-image {
  position: absolute;
  top: -12px;
  right: -20px;

  display: none;

  width: 520px;
  height: 90px;

  transition: .25s;

  justify-content: space-between;
}

.shop-now__button:hover .shop-now__button-image {
  display: flex;
}

.shop-now__button-orange {
  display: flex;

  height: 52px;

  align-self: flex-end;
}

.shop-now__button-streak {
  position: absolute;
  top: 55px;
  left: 140px;

  width: 230px;

  align-self: center;
}

.shop-now__button-yellow {
  display: flex;

  align-self: flex-start;
}

@media screen and (max-width: 1300px) {
  .shop-now__header {
    padding: 30px 1vw 0;
  }

  .shop-now__menu {
    width: 74vw;
  }
}

@media screen and (max-width: 1300px) {
  .shop-now__menu {
    height: 67px;
    padding: 10px 15px 10px 45px;
  }
}

@media screen and (max-width: 1076px) {
  .shop-now__container-logo {
    width: 10vw;
  }
  .shop-now__container-content {
    width: 9vw;
  }
  .shop-now__container-cart {
    width: 1vw;
  }
  .shop-now__container-cartimage {
    height: 1vw;
  }
  .shop-now__container-figure {
    font-size: .5vw;
  }
}

@media screen and (max-width: 768px) {
  .shop-now__header {
    display: none;
  }

  .shop-now {
    height: 490px;

    justify-content: flex-end;
  }

  .shop-now__button {
    height: 46px;
  }

  .shop-now__button-text {
    font-size: 18px;
  }

  .shop-now__button-image {
    display: flex;

    width: 510px;
    height: 75px;
  }

  .shop-now__button-orange {
    height: 38px;
  }

  .shop-now__button-streak {
    top: 40px;
    left: 190px;

    width: 120px;

    align-self: center;
  }

  .shop-now__button-yellow {
    width: 42px;
  }
}

