.starter-kit {
  display: flex;

  width: 97.5%;
  max-width: 1440px;
  margin-top: 30px;
  padding-bottom: 3px;

  border-radius: 50px;
  background-color: #c7f0ff;

  justify-content: space-between;
  align-items: center;
}

.starter-kit__content {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin-bottom: 25px;

  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.starter-kit__title {
  font-family: 'Bubble Rainbow';
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  line-height: 90px;

  margin-bottom: 35px;
  padding-top: 30px;

  text-align: center;
}

.starter-kit__paragraph {
  font-family: 'Degular';
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 50px;

  display: flex;

  padding-bottom: 30px;

  text-align: center;
}

.starter-kit__button {
  display: flex;

  margin-bottom: 6px;

  cursor: pointer;

  border-radius: 50px;
  background-color: #ff5c1a;

  justify-content: center;
  align-items: center;
}

.starter-kit__button-text {
  font-family: 'Bubble Rainbow';
  font-size: 1.5vw;
  font-weight: 400;
  font-style: normal;

  padding: 3% 65px;

  letter-spacing: .9px;

  color: #fff;
}

.starter-kit__image {
  display: flex;

  width: 30%;
}



@media screen and (max-width: 980px) {
  .starter-kit__content {
    margin-bottom: 15px;
  }

  .starter-kit__title {
    font-size: 48px;

    margin-bottom: 25px;
    padding-top: 14px;
  }

  .starter-kit__paragraph {
    font-size: 28px;
    line-height: 30px;
  }

  .starter-kit__button {
    width: 31.7vw;
    height: 6vw;
  }

  .starter-kit__button-text {
    padding: 9px 35px 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .starter-kit {
    flex-direction: column-reverse;

    width: 97%;
    padding-bottom: 0;

    justify-content: center;
  }

  .starter-kit__content {
    max-width: 70%;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 450px;
    align-self: center;
  }

  .starter-kit__title {
    font-size: 48px;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .starter-kit__paragraph {
    font-size: 28px;
    line-height: 30px;

    padding-bottom: 25px;
  }

  .starter-kit__button {
    width: 517px;
    height: 46px;
    margin: 0 260px 0 260px;
  }

  .starter-kit__button-text {
    font-size: 31px;

    padding: 9px 35px 0;
  }

  .starter-kit__image {
    width: 100%;
    height: auto;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 540px) {
  .starter-kit {
    width: 93%;

    justify-content: flex-end;
    align-items: center;
  }


  .starter-kit__content {
    width: 70%;
    margin-top: -100px;
    margin-bottom: -100px;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-size: 32px;
    line-height: 30px;

    margin-bottom: 12px;
    padding-top: 12px;
  }

  .starter-kit__paragraph {
    font-size: 18px;
    line-height: 30px;

    padding-bottom: 12px;
  }

  .starter-kit__button {
    width: 115%;
    height: 46px;
    margin: 0 26px 0 26px;
  }

  .starter-kit__button-text {
    font-size: 4vw;

    padding: 3% 5px;
  }
}

@media screen and (max-width: 425px) {
  .starter-kit {
    width: 93%;
    height: 624px;
    padding-top: 18px;
    padding-bottom: 0;
  }

  .starter-kit__content {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
  }

  .starter-kit__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .starter-kit__paragraph {
    line-height: 20px;

    padding-bottom: 20px;
  }

  .starter-kit__button {
    width: 329px;
    height: 40px;
    margin: 0;
    padding: 0;
  }

  .starter-kit__button-text {
    font-size: 17px;

    padding: 0;
  }

  .starter-kit__image {
    width: 355px;
    height: 380px;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .starter-kit {
    width: 92%;
    height: 570px;
    margin-top: 30px;

    justify-content: center;
  }

  .starter-kit__content {
    width: 95%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .starter-kit__title {
    font-size: 30px;
  }


  .starter-kit__button {
    width: 95%;
  }

  .starter-kit__button-text {
    font-size: 3vw;
  }

  .starter-kit__image {
    width: 305px;
    height: 326px;
  }
}

@media screen and (max-width: 320px) {
  .starter-kit {
    height: 566px;
    padding-top: 18px;
    padding-bottom: 0;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 90%;
  }

  .starter-kit__title {
    font-size: 32px;
    line-height: 40px;
  }

  .starter-kit__paragraph {
    font-size: 18px;
    line-height: 20px;

    padding-bottom: 15px;
  }

  .starter-kit__button {
    width: 100%;
  }

  .starter-kit__button-text {
    font-size: 4vw;

    padding: 0;
  }

  .starter-kit__image {
    width: 250px;
    height: 268px;
  }
}
