.starter-kit {
  display: flex;

  width: 1440px;
  margin-top: 30px;
  padding-bottom: 40px;

  border-radius: 50px;
  background-color: #c7f0ff;

  justify-content: center;
  align-items: center;
}

.starter-kit__content {
  display: flex;
  flex-direction: column;

  max-width: 70%;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 450px;
  justify-content: center;
  align-items: center;
}

.starter-kit__title {
  font-family: 'Bubble Rainbow';
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  line-height: 90px;

  margin-top: 30px;
  margin-bottom: 33px;

  text-align: center;
}

.starter-kit__paragraph {
  font-family: 'Degular';
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 50px;

  display: flex;

  padding-bottom: 60px;

  text-align: center;
}

.starter-kit__button {
  display: flex;

  width: 650px;
  height: 88px;
  margin: 0 260px 0 260px;

  cursor: pointer;

  border-radius: 50px;
  background-color: #ff5c1a;

  justify-content: center;
  align-items: center;
}

.starter-kit__button-text {
  font-family: 'Bubble Rainbow';
  font-size: 1.5vw;
  font-weight: 400;
  font-style: normal;

  padding: 9px 35px 0;
  padding-bottom: 10px;

  letter-spacing: .9px;

  color: #fff;
}

.starter-kit__image {
  width: 432px;
  height: 462.38px;
  margin-bottom: 3px;
}

@media screen and (max-width: 1440px) {
  .starter-kit {
    display: flex;

    width: 1440px;
    height: 455px;
    margin-top: 30px;
    padding-bottom: 0;

    border-radius: 50px;
    background-color: #c7f0ff;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 70%;
    margin-bottom: 78px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 450px;
    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-family: 'Bubble Rainbow';
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    line-height: 90px;

    margin-top: 0;
    margin-bottom: 33px;

    text-align: center;
  }

  .starter-kit__paragraph {
    font-family: 'Degular';
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    line-height: 50px;

    display: flex;

    padding-bottom: 35px;

    text-align: center;
  }

  .starter-kit__button {
    display: flex;

    width: 411px;
    height: 69px;
    margin: 0 260px 0 260px;

    cursor: pointer;

    border-radius: 50px;
    background-color: #ff5c1a;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__button-text {
    font-family: 'Bubble Rainbow';
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;

    padding: 9px 35px 0;
    padding-bottom: 10px;

    letter-spacing: .9px;

    color: #fff;
  }

  .starter-kit__image {
    width: 432px;
    height: 452px;
    margin-bottom: 0;
  }
}


@media screen and (max-width: 1024px) {
  .starter-kit {
    display: flex;

    width: 97%;
    height: 473px;
    margin-top: 30px;
    padding-bottom: 0;

    border-radius: 50px;
    background-color: #c7f0ff;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 70%;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 450px;
    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-family: 'Bubble Rainbow';
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 33px;

    text-align: center;
  }

  .starter-kit__paragraph {
    font-family: 'Degular';
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    line-height: 50px;

    display: flex;

    padding-bottom: 25px;

    text-align: center;
  }

  .starter-kit__button {
    display: flex;

    width: 315px;
    height: 61px;
    margin: 0 260px 0 260px;

    cursor: pointer;

    border-radius: 50px;
    background-color: #ff5c1a;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__button-text {
    font-family: 'Bubble Rainbow';
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;

    padding: 9px 35px 0;
    padding-bottom: 10px;

    letter-spacing: .9px;

    color: #fff;
  }

  .starter-kit__image {
    width: 299px;
    height: 319px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 768px) {
  .starter-kit {
    display: flex;
    flex-direction: column-reverse;

    width: 97%;
    height: 1036px;
    margin-top: 30px;
    padding-bottom: 0;

    border-radius: 50px;
    background-color: #c7f0ff;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 70%;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 450px;
    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-family: 'Bubble Rainbow';
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
  }

  .starter-kit__paragraph {
    font-family: 'Degular';
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;

    display: flex;

    padding-bottom: 25px;

    text-align: center;
  }

  .starter-kit__button {
    display: flex;

    width: 517px;
    height: 46px;
    margin: 0 260px 0 260px;

    cursor: pointer;

    border-radius: 50px;
    background-color: #ff5c1a;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__button-text {
    font-family: 'Bubble Rainbow';
    font-size: 31px;
    font-weight: 400;
    font-style: normal;

    padding: 9px 35px 0;
    padding-bottom: 10px;

    letter-spacing: .9px;

    color: #fff;
  }

  .starter-kit__image {
    width: 738px;
    height: 790px;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 540px) {
  .starter-kit {
    flex-direction: column-reverse;

    width: 93%;
  }

  .starter-kit__content {
    padding-left: -50px;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-size: 32px;

    padding-bottom: 40px;

    flex-wrap: wrap-reverse;
  }

  .starter-kit__paragraph {
    font-size: 110%;
    line-height: 20px;

    padding-top: 1px;
    padding-bottom: 20px;
  }

  .starter-kit__button {
    width: 70%;
    height: 8px;
    margin-bottom: 5px;
    padding: 30px 10px;
  }

  .starter-kit__button-text {
    font-size: 70%;
  }
  .starter-kit__image {
    width: 100%;
    height: 40%;
    margin-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  .starter-kit {
    display: flex;
    flex-direction: column-reverse;

    width: 93%;
    height: 624px;
    margin-top: 30px;
    padding-top: 18px;
    padding-bottom: 0;

    border-radius: 50px;
    background-color: #c7f0ff;

    justify-content: space-between;
    align-items: center;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-family: 'Bubble Rainbow';
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    text-align: center;
  }

  .starter-kit__paragraph {
    font-family: 'Degular';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;

    display: flex;

    padding-bottom: 20px;

    text-align: center;
  }

  .starter-kit__button {
    display: flex;

    width: 329px;
    height: 40px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border-radius: 50px;
    background-color: #ff5c1a;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__button-text {
    font-family: 'Bubble Rainbow';
    font-size: 17px;
    font-weight: 400;
    font-style: normal;

    padding: 0;

    letter-spacing: .9px;

    color: #fff;
  }

  .starter-kit__image {
    width: 355px;
    height: 380px;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .starter-kit {
    display: flex;
    flex-direction: column-reverse;

    width: 92%;
    height: 570px;
    margin-top: 30px;
    padding-top: 18px;
    padding-bottom: 0;

    border-radius: 50px;
    background-color: #c7f0ff;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-family: 'Bubble Rainbow';
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 70px;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    text-align: center;
  }

  .starter-kit__paragraph {
    font-family: 'Degular';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;

    display: flex;

    padding-bottom: 20px;

    text-align: center;
  }

  .starter-kit__button {
    display: flex;

    width: 300px;
    height: 40px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border-radius: 50px;
    background-color: #ff5c1a;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__button-text {
    font-family: 'Bubble Rainbow';
    font-size: 15px;
    font-weight: 400;
    font-style: normal;

    padding: 0;

    letter-spacing: .9px;

    color: #fff;
  }

  .starter-kit__image {
    width: 305px;
    height: 326px;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .starter-kit {
    display: flex;
    flex-direction: column-reverse;

    width: 92%;
    height: 566px;
    margin-top: 30px;
    padding-top: 18px;
    padding-bottom: 0;

    border-radius: 50px;
    background-color: #c7f0ff;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__content {
    display: flex;
    flex-direction: column;

    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0;

    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
  }

  .starter-kit__title {
    font-family: 'Bubble Rainbow';
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    text-align: center;
  }

  .starter-kit__paragraph {
    font-family: 'Degular';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;

    display: flex;

    padding-bottom: 15px;

    text-align: center;
  }

  .starter-kit__button {
    display: flex;

    width: 250px;
    height: 40px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border-radius: 50px;
    background-color: #ff5c1a;

    justify-content: center;
    align-items: center;
  }

  .starter-kit__button-text {
    font-family: 'Bubble Rainbow';
    font-size: 13px;
    font-weight: 400;
    font-style: normal;

    padding: 0;

    letter-spacing: .9px;

    color: #fff;
  }

  .starter-kit__image {
    width: 250px;
    height: 268px;
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
